body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 50px; /* Adjust height to make the header slim */
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 1.5em; /* Adjust font size if needed */
    color: #fff;
    margin: 0;
    z-index: 1001; /* Ensure header content is in front */
}

header img {
    border-radius: 50%;
    margin-right: 10px;
    width: 70px; /* Adjust image size */
    height: 70px; /* Adjust image size */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 1000; /* Ensure navigation is behind header content */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em; /* Adjust font size if needed */
}

main {
    padding: 70px 20px 20px; /* Adjust padding to account for fixed header */
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}
